<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Page Website</title>
    <link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
    <section id="home">
        <header>
            <a href="#"><img src="./static/images/logo.png" alt=""></a>
        <ul id="menu">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#product">Product</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        </header>
        <h1>Home</h1>
    </section>
    <section id="about"><h1>About Us</h1></section>
    <section id="product"><h1>Product</h1></section>
    <section id="pricing"><h1>Pricing</h1></section>
    <section id="contact"><h1>Contact</h1></section>


</body>
</html>